@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GitHub Actions Example.  Making another change. </p>
    <p>GitHub Actions Example.  Add 3rd line. </p>
    <p>GitHub Actions Example.  Add 4th line. </p>
    <p>12 July 23 GitHub Actions Example.  Add 5th line.      </p>
</div>
